@import './mixins';
@import './resets';
@import './variables';


.disclaimer{

    width: 100%;
    padding: 1rem;
    background-color: #404EED;
    font-family: "Whitney",sans-serif;
    position: relative;
    z-index: 50;

    a{
        font-size: 1.25rem;
        text-decoration: none;
        color: #FFF;
        @include flex(center,center);
        cursor: pointer;

        img{
            margin: 0 1rem;
        }
        
    }
}