@import './mixins';
@import './resets';
@import './variables';


.navbar{
    margin-top: 10px;
    width: 85%;
    @include flex(space-between,center);
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.svg-holder{
    
    @include flex(center,flex-end);
    margin: 1rem 0;
}

.nav-links{
    display: flex;
    margin: 1rem 0;
}

.nav-links > li{
    display: inline-block;
    list-style: none;
    margin: 0 1.25rem;
    color: $white;
    font-family: $font-display;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
}

.link{
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-links > li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav-btn{
    padding: 0.75rem 1rem;
    background-color: $white;
    border-radius: 1.5rem;
    border: none;
    color: $dark-not-black;
    font-weight: 500;
}


.sidebar-holder{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 60;
    display: none;
}

.sidebar{
    width: 350px;
    height: 100%;
    background-color: #FFF;    
    float: right;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    
}

.sidebar-logo{

    @include flex(space-between,center);
    border-bottom: 1px solid $greyple;
    width: 85%;
    margin: 0 auto;

    a{
        margin: 1rem;
        color: $not-quite-black;
        text-decoration: none;
    }
}

.sidebar-links{
    height: auto;
    text-align: left;
    width: 75%;
    margin: 0 auto;
}

.sidebar-list{
    li{
        font-family: $font-display;
        margin: 1.25rem 0;
        list-style: none;
        color: $not-quite-black;
    }

    a{
        text-decoration: none;
        color: $not-quite-black;
    }

    svg{
        padding-top: 5px;
    }
}

.sidebar-download-btn{
    height: auto;
    @include flex(center,flex-end);
    button{
        @include flex(space-evenly,center);
        position: absolute;
        bottom: 0;
        width: 300px;
        padding: 1rem 2rem;
        background-color: $brand;
        border: none;
        margin: 2rem 0;
        border-radius: 20px;
        font-size: 1rem;
        color: #FFF;
    }
}

.hamburger{
    display: none;
    background-color: transparent;
    border: none;
}


@media screen and (min-width: 250px) and (max-width: 1023px){

    .active-sidebar{
        display: block;
        
    }

    .nav-links,.nav-btn{
        display: none;
    }

    .hamburger{
        display: block;
    }

}

